footer.footer
	section.footer-1st
		.container
			.row.pt-5
				.col-sm-12.col-md-4
					h4 FULL STACK VIETNAM
					p.text-color-f Mobile: (+84)09525165
					p.text-color-f E-mail: admin@fullstackvietnam.com
					p.text-color-f Address: 28, 2nd Street -CITYLAND, ward 7, Go Vap District, HCM City
				.col-sm-6.col-md-4
					h4.ml-5 LINKS
					ul
						li
							a(href="#")
								i.fa.fa-arrow-right Front-end Master course
						li
							a(href="#")
								i.fa.fa-arrow-right Fullstack Developer course
						li
							a(href="#")
								i.fa.fa-arrow-right Profestional Designer
						li
							a(href="#")
								i.fa.fa-arrow-right Current class
						li
							a(href="#")
								i.fa.fa-arrow-right Register Course
				.col-sm-6.col-md-4
					h4
					br
					ul
						li
							a(href="#")
								i.fa.fa-arrow-right Front-end Master course
						li
							a(href="#")
								i.fa.fa-arrow-right Fullstack Developer course
						li
							a(href="#")
								i.fa.fa-arrow-right Profestional Designer
						li
							a(href="#")
								i.fa.fa-arrow-right Current class
						li
							a(href="#")
								i.fa.fa-arrow-right Register Course
	section.footer-2nd
		.container
			.row.pt-4
				.col-sm-6.col-md-8.my-auto
					p.text-white Copyright 2018 by 
						a(href='/').text-white FullStack Vietnam.
				.col-sm-6.col-md-4.mb-3
					ul.nav
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-twitter
						li.nav-item
							a.nav-link(href="#")
								i.fa.fa-facebook
					
					