<!-- ////////////// HEADER ////////////// -->
<!--Add active class to li.nav-item then write it like &:hover-->
header
	.section
		.container

			nav.navbar.navbar-expand-lg.navbar-light.py-0
				a.navbar-brand(href='#')
					img(src="./img/logo.png",alt="logo",width="220px").img-fluid
				button.navbar-toggler.ml-auto.mr-3(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon.ml-auto
				#navbarText.collapse.navbar-collapse
					ul.navbar-nav.ml-auto.text-right
						li.nav-item.mr-3.active
							a.nav-link(href='#') Home 
						li.nav-item.mr-3
							a.nav-link(href='#') Services
						li.nav-item.mr-3
							a.nav-link(href='#') About
						li.nav-item.mr-3
							a.nav-link(href='#') Contact

<!-- ////////////// HEADER ////////////// -->
